body,ul,li,div,span,a{
	margin: 0;
	padding: 0;
}
body{
	color: #222;
	font-size: 12px;
	font-family: "Microsoft YaHei"
}
li,ul{
	list-style: none;
}
a{
	outline: 0;
	text-decoration: none;
	color: #222;
}
button, input, select, textarea {
    font: 12px/1.125 Arial,Helvetica,sans-serif;
    outline: 0;

}
.header{
	position: relative;
	z-index: 10000;
	color: #222;
}
.t-nav{
	height: 42px;
	width: 100%;
	background: #fff;
	position: relative;
	top: 0px;
	left: 0px;
}
.t-nav-header{
	margin: 0 auto;
	position: relative;
	text-align: left;
	width: 980px;
	height: 42px;
}
.t-nav-l{
	float: left;
	height: 42px;
	text-align: left;
	margin-left: -10px;
}
.i-link{
	display: block;
	font-size: 13px;
	height: 42px
}
.home,.hbili,.gc,.live,.zb{
	height: 42px;
	line-height: 42px;
	float: left;
	text-align: center;
}
.home{
	width: 70px;
	margin-left: -10px;
	background-image: url('https://static-s.bilibili.com/images/base/icons.png');
	background-repeat: no-repeat;
	background-position: -910px -74px;
	position: relative;
}
.home a.i-link{
	width: 50px;
	padding: 0 0 0 20px;
}
.hbili{
	width: 54px;
}
.hbili a.i-link{
	width: 26px;
	padding: 0 14px;
}
.gc{
	width: 80px;
}
.gc a.i-link{
	padding: 0 14px;
}
.live,.zb{
	width: 54px;
}
.live a.i-link{
	padding: 0 14px;
}
.zb a.i-link{
	padding: 0 14px;
}
.i-link:hover{
	color: #00a1d6;
}
.uns-box{
	float: right;
	font-size: 12px;
}
.uns-box ul.menu{
	float: left;
	position: relative;
}
.menu .u-i{
	padding: 0 10px;
	height: 42px;
	text-align: center;
	float: left;
	position: relative;
}
.uns-box ul.menu li.u-i i.s-line{
	display: inline-block;
	border-left: 1px solid #222;
	height: 12px;
	margin-top: 16px;
	vertical-align: top;
	float: left;
}
.u-i a#login,a#register{
	padding: 0 10px;
	width: 26px;
	display: inline-block;
	text-align: center;
	line-height: 42px;
	float: left;
}
.i-link span{
	display: block;
}
ul.menu li.b-post{
	height: 42px;
	width: 58px;
	float: left;
	text-align: center;
	line-height: 42px;
	position: relative;
	padding: 0;
}
.b-post a.i-link{
	width: 58px;
	position: relative;
	z-index: 10;
	background: url('https://static-s.bilibili.com/images/base/b-post.png') center center no-repeat;
	height: 48px;
	border-radius: 0 0 5px 5px;
	color: #fff!important;
	font-size: 14px;
}
.search{
	position: relative;
	float: right;
	height: 32px;
	margin: 5px 20px 5px 0;
}
.search #search-form{
	display: block;
	background-color: #fff;
	border-radius: 16px;
	padding-right: 30px;
	height: 30px;
	transition: .2s border-color;
	border: 1px solid #ccd0d7;
}
.search #search-keyword{
	float: left;
	width: 78px;
	color: #99a2aa;
	font-size: 12px;
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	padding: 0 0 0 10px;
	border: 0;
	box-shadow: none;
	background-color: transparent;
	transition: .2s width;
}
.search .search-submit{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 30px;
	min-width: 0;
	cursor: pointer;
	height: 32px;
	background: url('https://static-s.bilibili.com/images/base/icons.png') -786px -721px;
	margin: 0;
	padding: 0;
	border: 0;
}
.top-bg{
	width: 100%;
	background: url('https://static-s.bilibili.com/passport/img/rl_topbg.png')repeat-x;
	height: 106px;
	position: relative;
}
.bg{
	height: 106px;
	width: 980px;
	margin: 0 auto;
	background: url('https://static-s.bilibili.com/passport/img/rl_top.png');
	position: relative;
}
.login-head{
	width: 980px;
	margin: 0 auto;
	position: relative;
}
.login-head .lin {
    width: 100%;
    height: 25px;
    border-bottom: 2px solid #ddd;
}
.login-head .tit{
	width: 120px;
    height: 47px;
    margin: 0 auto;
}
.login-input{
	margin: 40px auto 0 auto;
	width: 400px;
}
.box{
	width: 400px;
	height: 70px;
}
.box input{
	padding: 10px 0px 10px 10px;
	width: 388px;
	height: 18px;
	margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #aaa;
    font-size: 14px;
}
.box .login{
    border: 1px solid #0381AA;
    border-radius: 2px;
    color: #fff;
    background-color: #00A7DE;
    margin-top: 10px;
    width:184px; 
    height:38px; 
    float: left;
}
.box .register{
	color: #555;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-top: 10px;
    width: 184px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    float: right; 
}
.box .r-register{
	color: white;
	background-color: #00A7DE;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 400px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    float: right; 
}
.login-input .box #code{
	width: 184px;
	height: 40px;
	display: none;
	background-color: white;
	color: black;
	float: right; 
}
.login:hover{
	background-color: #00b5e5;
}
.register:hover {
	background-color: #eee;
}
.r-register:hover{
	background-color: #00b5e5;
}